/* global.css */
:root {
  /* Colors */
  --primary-color: #112d4e;
  --secondary-color: #3f72af;
  --success-color: #5c8cc4;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #940909;
  --light-color: #f8f9fa;
  --dark-color: #5c8cc4;
  --white-color: #f9f7f7;
  --black-color: #000000;
  --gray-color: #6c757d;
  --gray-light-color: #cbcdd9;

  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Lato', sans-serif;
  --tertiary-font: 'Nunito', sans-serif;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 64px;
  --header-height: 60px;
  --footer-height: 60px;
}

body {
  font-family: var(--primary-font);
  line-height: 1.6;
  color: var(--black-color);
  background-color: var(--gray-light-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

button {
  font-family: var(--primary-font);
}

input,
select {
  font-family: var(--primary-font);
}

body {
  /* background: radial-gradient(circle at center, var(--primary-color) 0%, var(--secondary-color) 50%, var(--tertiary-color) 100%); */
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--secondary-color),
    var(--success-color)
  );
  /* background: repeating-linear-gradient(-45deg, var(--primary-color) 0, var(--primary-color) 10px, var(--secondary-color) 10px, var(--secondary-color) 20px); */
  /* background: repeating-linear-gradient(-45deg, var(--primary-color), var(--primary-color) 20px, var(--secondary-color) 20px, var(--secondary-color) 40px, var(--success-color) 40px, var(--success-color) 60px); */
  /* background: repeating-linear-gradient(135deg, var(--primary-color) 0, var(--primary-color) 10px, var(--secondary-color) 10px, var(--secondary-color) 30px, var(--success-color) 30px, var(--success-color) 50px); */
}
